body {
  overflow: hidden;
  font-family: "PT Mono", monospace !important;
}

img {
  max-width: 100%;
  max-height: 300px;
  height: auto;
  width: auto;
}

.hidden {
  display: none !important;
}

.content-block,
.block-title,
.quote,
.block-desc,
.block-image {
  border-color: black;
  transition: border-color 0.3s ease;
}

.navbar {
  border: 2px black solid;
  margin: 10px;
}

.navbar-brand {
  padding: 15px;
  border-radius: 5px;
}

h1 {
  font-size: 20px !important;
  font-weight: bolder;
}

.dropdown {
  color: black !important;
  text-decoration: none !important;
}

.full-screen {
  height: 100vh;
  overflow-y: scroll;
  position: relative;
}

.content {
  height: calc(100vh - 92px - 10px);
  margin: 5px;
  overflow-y: auto;
}

.horizontal-scroll {
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
  height: 100%;
}

.content-block {
  min-width: 700px;
  display: flex;
  flex-direction: column;
  border: 2px black solid;
  border-top: none;
  border-right: none;
  margin: 5px;
  padding: 25px;
}

.block-title, .block-image, .quote, .block-desc {
  border-left: 2px black solid;
}

.block-title-text {
  font-size: 20px !important;
  font-weight: bold;
}

.emphasis {
  color: black;
  font-weight: bold !important;
}

.block-desc {
  color: gray;
}

.quote {
  font-size: 25px;
  color: rgb(100, 0, 255) !important;
}

.img-desc {
  color: gray;
  font-size: 13px;
}

.advance-box {
  margin-top: auto;
}

.section-advance {
  color: black;
  text-decoration: none;
  font-size: 20px;
  display: inline-flex;
  justify-content: center;
}

.section-advance i {
  margin-left: 10px;
  display: inline-block;
  transition: transform 0.3s ease;
}

.section-advance:hover i {
  transform: translateX(7px);
}

.bookmark, .like {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.bookmark-nav {
  box-shadow: -3px 3px 5px blue, 3px -3px 5px deeppink;
}

#alert {
  position: absolute;
  z-index: 9999;
  top: 90vh;
  width: 100vw;
  text-align: center;
  position: absolute;
  display: flex;
  justify-content: center;
}

.alert-text {
  color: black;
  padding: 5px 10px;
  background-color: whitesmoke;
  max-width: -moz-fit-content;
  max-width: fit-content;
  border-radius: 5px;
  box-shadow: -5px 5px 4px blue, 5px -5px 4px deeppink;
}

.placeholder-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
}

.bookmark-display {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding-top: 50px;
}

.card {
  max-width: 500px;
  transition: box-shadow 0.2s ease-in-out;
}

.card:hover {
  box-shadow: -5px 5px 4px blue, 5px -5px 4px deeppink;
}

.card-link {
  color: gray;
  text-decoration: none;
  cursor: pointer;
}

.bouncing-text {
  position: relative !important;
  display: inline-block !important;
}

.comment-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5vh;
}

.save-button {
  border: 1px gray solid;
  padding: 8px;
  border-radius: 5px;
  background-color: whitesmoke;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.comment-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin-bottom: 15px;
}/*# sourceMappingURL=main.css.map */